:root {
    --main-color1: #010038;
    --main-color2: #293A80;
    --main-color3: #537EC5;
    --main-color4: #F39422;
    --sub-color1: white;
    --sub-color2: #9fec51;
    --sub-color3: #f04523;
}





