:root {
    --main-color1: #010038;
    --main-color2: #293A80;
    --main-color3: #537EC5;
    --main-color4: #F39422;
    --sub-color1: white;
    --sub-color2: #9fec51;
    --sub-color3: #f04523;
}

.catadd{
    width: 50px;
}
.update{
    width: 80px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.headers{
width: 100%;
height: 100%;
background: white;
}
.side-nav{
    width: 250px;
    height: 300vh;
    background: #010038;
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 30px ;
}

.logo{
    display: block;
    padding-bottom: 50px;
    width: auto;
}
.logo-img{
    width:150px;
}
.nav-links{
    list-style:none;
    position: relative;
}
.nav-links li{
    padding: 10px 0;
}
.nav-links li a{
    color: white;
    text-decoration: none;
    padding: 0px 14px;
    display: flex;
    align-items: center;
}



.nav-links li a p{
margin-top: 20px;
}
.nav-links li a i{
font-size: 36px;
margin-right: 30px;
}

.actives{
  background: white;  
  width: 100%;
  height: 47px;
  position: absolute;
  left: 0;
  top: 2.8%;

  z-index: -1;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(255 ,255, 255, 0.4);
  display: none;
  transition: top 0.5s;

}
.nav-links li:hover a{
    color: #010038;
    transition: 0.3s;
    font-weight: bold;
}
.nav-links li:hover ~ .active{
display: block;
}
.nav-links li:nth-child(1):hover~ .actives{
    top: 2.8%;

}
.nav-links li:nth-child(2):hover~ .actives{
    top: 22.8%;

}
.nav-links li:nth-child(3):hover~ .actives{
    top: 42.8%;

}
.nav-links li:nth-child(4):hover~ .actives{
    top: 62.8%;

}
.nav-links li:nth-child(5):hover~ .actives{
    top: 82.8%;

}

.logo-icon{display: none;}

@media only screen and (max-width:600px){
    .side-nav{
        width: 110px;
    }
    .logo-icon{
        display: block;
        width: 70px;
       
    }
    .logo-img{
        display: none;
    }

 .nav-links li a p {
   display: none;  
 }
 .nav-links li a i{
    margin-right:0 ; 

 }
 nav-links li a {
     justify-content: center;
 }





}
